<%= stylesheet_link_tag "search" %>
<div id='companies' class='page'>
  <h1>Know your competitors</h1>
  <h3>Find out and stay up to date on most startup's funding</h3>
  <input type='search' id='search' autocomplete='off' placeholder='Who is the company/person you want to know more about?' value='<%= params[:search] %>'/>
  <ul id='companies_list'>
    <% @featured.each do |feature| %>
    <li class='company unselectable'>
      <h3>
        <% if feature.class.name == 'Company' %>
          <a href='/companies/<%= feature.id %>' class='unselectable'>
            <%= feature.name %>
          </a>
        <% else %>
          <a href='/people/<%= feature.id %>' class='unselectable'>
            <%= feature.name %>
          </a>
        <% end %>
      </h3>
    </li> 
    <% end %>   
  </ul>
</div>
<%= javascript_include_tag 'search' %>