<%= stylesheet_link_tag "companies" %>
<script src='http://google.com/jsapi'></script>
<title><%= @company.name %> | FundingList.us </title>
<div id='show' class='row'>
  <div id='company' class='span12 page'>
    <h1><%= @company.name %></h1>
    <div id='chart'>
    </div>
    <%= render 'update_me' %>
  </div>
</div>
<%= javascript_include_tag "show_companies" %>
