<%= stylesheet_link_tag "companies" %>
<title><%= @company.name %> | FundingList.us </title>
<div id='show' class='row'>
  <div id='company' class='span12'>
    <h1><%= @company.name %></h1>
    <p id='overview'>Based in <%= @company.location %>, <%= @company.name %> has raised <%= number_to_currency @company.raised %> from <%= @company.rounds.size %> round(s). <%= @company.name %> has <%= @company.investor_count %> investor(s), averging <%= number_to_currency @company.invested_average %> per investor.</p>
    <div id='update_me' class='btn btn-primary'>Keep Me Updated</div>
    <div id="more_info">
      <%= render 'related_people' %>
      <%= render 'rounds'         %>
    </div>
    <%= render 'update_me' %>
  </div>
</div>
<%= javascript_include_tag "show_companies" %>
