<%= stylesheet_link_tag "companies" %>
<script src='http://google.com/jsapi'></script>
<title><%= @company.name %> | FundingList.us </title>
<div id='show' class='row'>
  <div id='company' class='span12 page'>
    <h1><%= @company.name %></h1>
    <div id='chart'>
    </div>
    <div id='update_me_container'>
      <div id='update_me' class='btn btn-primary'>Keep Me Updated</div>
    </div>
    <div id="more_info">
      <%= render 'related_people' %>
      <%= render 'rounds'         %>
    </div>
    <%= render 'update_me' %>
  </div>
</div>
<%= javascript_include_tag "show_companies" %>
