<%= javascript_include_tag 'round' %>
<%= stylesheet_link_tag 'round' %>
<div id='show' class='row page'>
  <title>Round #<%= @round.company.rounds.reverse.index(@round) + 1 %> for <%= @round.company.name %> | FundedList.us</title>
  <h1>Round #<%= @round.company.rounds.index(@round) + 1 %> for <%= link_to @round.company.name, "/companies/#{@round.company.id}" %></h1>
  <div id='chart'>

  </div>
  <h2>More Info</h2>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <td>First Investment</td>
        <td>Minimum Investment</td>
        <td>Investor Count</td>
        <td>End Date</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @round.first_investment.strftime("%B %d, %Y") %></td>
        <td><%= number_to_currency @round.minimum_invested %></td>
        <td><%= @round.investor_count %></td>
        <td><%= @round.end_date.strftime("%B %d, %Y") %></td>
      </tr>
    </tbody>
  </table>
  <h4 id='source'><a href='<%= @round.human_readable_url %>'>Source</a></h4>
</div>